<screens xmlns="http://www.webhare.net/xmlns/tollium/screens" gid="monitor" library="/lib/screens/monitor/events.whlib">

  <screen name="events" gid=".events" title="">
    <actions>
      <action name="openwrdschema" onexecute="doopenwrdschema" />
      <action name="openwrdentity" onexecute="doopenwrdentity" />
      <action name="openinpublisher" onexecute="doopeninpublisher" />
      <action name="applyfilter" onexecute="doapplyfilter" />
      <action name="clearlist" onexecute="doclearlist" />
    </actions>

    <menus gid=".menus">
      <menu name="wrdentitymenu">
        <item action="openwrdentity" />
      </menu>
    </menus>

    <body height="1pr" spacers="none">
      <split type="horizontal">
        <part width="1pr" spacers="right">
          <panel spacers="left top bottom">
            <line>
              <checkbox name="enableintercept" onchange="onenableinterceptchange" />
              <textedit name="eventfilter" width="1pr" title="" />
              <button action="applyfilter" />
            </line>
            <line>
              <checkbox name="decodeknownmessages" onchange="onenablemessagedecodingchange" />
              <button action="clearlist" tid="~clear" />
            </line>
          </panel>

          <list name="events" height="1pr" borders="top right" onselect="onselectevent" selectmode="single">
            <column name="when" type="datetime" width="22x" precision="seconds" sortkeyname="rowkey" storeutc="true" />  <!-- 18 min -->
            <column name="event" type="text" />
            <column name="description" type="text" />
          </list>
        </part>
        <part name="messageinfo" width="1pr" spacers="left" visible="false">
          <panel spacers="top right bottom">
            <grid>
              <col width="1pr" />
              <col />
              <row>
                <cell>
                  <text name="eventwhen" />
                  <text name="eventname" />
                </cell>
                <cell>
                  <button name="button_openinwrd" width="1pr" action="openwrdschema" tid=".openwrdschema" visible="false" />
                  <button name="button_openinpublisher" width="1pr" action="openinpublisher" tid=".openinpublisher" visible="false" />
                </cell>
              </row>
            </grid>
          </panel>
          <panel height="1pr" spacers="none" borders="top">
            <tabs name="eventtabs" height="1pr" >
              <tab name="interpreteddatatab">
                <list name="wrdentities"
                      height="1pr"
                      gid="wrdentitiescolumns"
                      selectcontextmenu="wrdentitymenu"
                      selectmode="single">
                  <column name="id" type="integer" width="12x" align="right" />
                  <column name="title" type="text" width="1pr" />
                  <column name="action" type="text" width="12x" />
                </list>
              </tab>
              <tab name="eventdatatab">
                <hsvalue name="eventdata" />
              </tab>
            </tabs>
          </panel>
        </part>
      </split>
    </body>
  </screen>

</screens>
