* {
  box-sizing: border-box;
}

:host(wh-form-imgedit) {
  display:inline-block;
}

:host(wh-form-imgedit)::before {  /* this block fixes top alignmenton of the label for an imgedit */
  content: "\a0";
  visibility: hidden;
  display: block;
  height: 0;
}

:host(wh-form-imgedit) button {
  cursor: pointer;
}

.images {
  display: inline-flex;
  flex-wrap:wrap;
}

.image {
  width: var(--wh-imgedit-width, 150px);
  height: var(--wh-imgedit-height, 150px);

  border: 1px solid var(--wh-field-border-color, #777);
  border-radius: var(--wh-field-border-radius, 2px);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  position:relative;

  padding: var(--wh-imgedit-margin, 8px);
  font-size: var(--wh-imgedit-font-size, 80%);
  line-height: var(--wh-imgedit-line-height, 120%);

  &:not(:disabled):hover {
    border-color: var(--wh-field-border-color--hover, #333);
    box-shadow: var(--wh-field-border-box-shadow--hover, none);
  }

  &:not(:disabled):focus-within {
    border-color: var(--wh-field-border-color--hover, #333);
    box-shadow: var(--wh-field-border-box-shadow--focus, none);
    outline: none;
  }
}

.image__uploadicon {
  display:inline-block;
  width:50px;
  height:50px;
  margin-bottom:20px;
  background: url(upload.svg) center no-repeat;
  cursor: pointer;
}

.image__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__explain {
  padding: var(--wh-imgedit-explain-padding, 3px);
}

.deletebutton {
  appearance: none;
  border:none;
  width:30px;
  height:30px;
  color: white;
  background: black url(delete.svg) center/16px 16px no-repeat;
}

.image__deletebutton {
  position:absolute;
  bottom:0;
  right:0;
}


:host(wh-form-upload) {
  display: inline-block;
}

:host(wh-form-upload) * {
  box-sizing: border-box;
}

:host(wh-form-upload)>div {
  display: contents;
}

:host(wh-form-upload) button {
  cursor: pointer;
}

.file {
  display: flex;
  height: 100%;
}

.file__name {
  flex: 1 1 auto;
}
