.image--placeholder {
  position: relative;
  border:1px solid #acacac;

  &:after
  {
    content:"";
    position:absolute;
    background:url(upload.svg) center no-repeat;
    opacity:0.5;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
  }
}

.image {
  position: relative;
  display: inline-block;
}

:where([part=image]) {
  width:125px;
  height:125px;
}

.image__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.image__deletebutton {
  position:absolute;
  top:0;
  right:0;
  background:black;
  color:white;
  padding:4px;

  &:before
  {
    content:"X";
  }
}



.file {
  position: relative;
}

.file__deletebutton
{
  position:absolute;
  top:0;
  right:0;
  background:black;
  color:white;
  padding:3px;
  font-size:70%;

  &:before
  {
    content:"X";
  }
}
