
.wh-rtd h1.heading1
{
  font:bold 18px Arial,sans-serif;
  margin:10px 0;
  color:#000000;
}
.wh-rtd h2.heading2
{
  font:italic bold 16px Arial,sans-serif;
  margin:10px 0;
  color:#000000;
}
.wh-rtd h3.heading3
{
  font:italic 14px Arial,sans-serif;
  margin:10px 0;
  color:#000000;
}
.wh-rtd p.normal
{
  font:normal 12px Arial,sans-serif;
  color:#000000;
  margin: 10px 0;
}

.wh-rtd ul.unordered
{
  list-style-type: disc;
  margin: 10px 0 10px -5px;
  padding: 0;
  font:normal 12px Arial,sans-serif;
}
.wh-rtd ul.unordered li
{
  margin-left: 20px;
}
.wh-rtd ul.unordered ul
{
  margin: 0 0 0 -5px;
}

.wh-rtd ol.ordered
{
  list-style-type: decimal;
  margin: 10px 0 0 -2px;
  padding: 0;
  font:normal 12px Arial,sans-serif;
}

.wh-rtd ol.ordered ol
{
  margin:0;
}

.wh-rtd ol.ordered li
{
  margin-left: 20px;
}
