.wh-gallery-modal
{
  // overlay
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  touch-action: none;

  &__title
  {
    margin: 25px 0 30px;
    padding: 0 80px;
    color: #fff;
    text-align: center;
  }

  &__counter
  {
    position: absolute;
    top: 26px;
    left: 30px;
    font-weight: 400;
  }

  &__close
  {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
  }

    &__next
  , &__previous
  {
    position: absolute;
    top: 80px; /* keep space for counter and close btn */
    bottom: 80px;
    width: 60px;
    cursor: pointer;
    font-size: 54px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
  }

  &--firstslide &__previous
  , &--lastslide &__next
  {
    cursor: default;
    opacity: 0.3;
    pointer-events: none; //also suppresses hover effects below
  }

  &__next
  {
    right: 0;
    justify-content: flex-start;

    & > *:hover
    {
      transform: translateX(5px);
    }
  }

  &__previous
  {
    left: 0;
    justify-content: flex-end;

    & > *:hover
    {
      transform: translateX(-5px);
    }
  }

  &__slides
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image
  {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transition: transform 500ms cubic-bezier(0.5, 0, 0, 1), width 200ms, height 200ms;

    & > img
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.8s;
    }

    &sizer > span
    {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;
      font-size: 50px;
      opacity: 0.5;
      display: none;
    }

    &--loading &sizer > span
    {
      display: block;
    }

//      & > .wh-video
//    , & iframe
//    {
//      position: absolute !important; /* overwrite .wh-video css from publisher:video.css  */
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      z-index: 2;
//    }
//
//    & .video-playbtn
//    {
//      cursor: pointer;
//      position: absolute;
//      display: block;
//      width: 100%;
//      height: 100%;
//     //FIXME background: transparent url(../web/img/play.png) 50% 50% no-repeat;
//      background-size: 15%;
//      left: 0;
//      top: 0;
//      opacity: 0.75;
//      transition: opacity 0.3s;
//      z-index: 1;
//    }
//
//    &:hover .video-playbtn
//    {
//      opacity: 0.9;
//    }

    &__title
    {
      padding: 0;
      position: absolute;
      font-style: italic;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 20px;
      color: #fff;
      text-align: center;
      font-size: 15px;
      line-height: 22px;
    }
  }

  @media(max-width: 600px)
  {
      .next
    , .previous
    {
      justify-content: center;
    }
  }
}
