$body-verticalmargin: 10px;
$body-standardmargin: 20px;
$body-widemargin: 100px;

$widget-vmargin: 5px;
$widget-hinset: 12px; //'inset' for the border around embedded objects, shouldn't touch the edge of the contentarea

$transition-duration: 300ms;
