# To get some insight as to that's in the dockerfile:
# printf "FROM ubuntu:20.04\nCOPY . /tmp/build" | docker build --progress=plain -f- -t tempfilelist . ; docker run --rm -ti tempfilelist /bin/bash -c "ls -lR /tmp/build; du -sch /tmp/build/*"
.git
node_modules

# Addons completely unrelated to Docker builds
addons/vscode-extension

# We need to manage module ignores here (except for webhare_testsuite) so we can easily sync .gitignore & .dockerigonore
/whtree/modules/devkit/node_modules
/whtree/modules/*/history
/whtree/modules/platform/generated

# buildinfo is generated outside the container build because CI_ variables are not copied to the container
!/whtree/modules/platform/generated/buildinfo

# webhare_testsuite should never ship in the container. testdocker will link it into the containers during CI
/whtree/modules/webhare_testsuite

/vendor/emsdk/node
/vendor/emsdk/python
/vendor/emsdk/upstream
/vendor/emsdk/downloads

# /vendor/libxml2/autom4te.cache .. tempting because of name, but ignoring this breaks the build
/vendor/libxml2/result
/vendor/libxml2/test

# Ignore artifacts from source tree builds
/whtree/bin/*
/whtree/currentinstall
/whtree/lib/*
/whtree/libexec
/whtree/node_modules

!/whtree/bin/wh
!/whtree/bin/*.sh
!/whtree/lib/*.sh
