[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "whtree/modules/platform/js/certbot/vendor/acme"]
	path = whtree/modules/platform/js/certbot/vendor/acme
	url = https://github.com/WebHare/acme.git
	branch = feature/node-import
