# Prefix with / to avoid matches in subdirectories
*.args
.checkoutstate
.wh.connectinfo
.wh.dev.connectinfo
.vscode
*.swp
.DS_Store
/build
coverage.tar.gz
/whtree/bin/*
!/whtree/bin/wh
!/whtree/bin/*.sh
/whtree/dbase
/whtree/etc/webhare*xml
!/whtree/etc/webhare-docker-config.xml
!/whtree/etc/webhare-default-config.xml
/whtree/.webhare-envsettings.sh
/whtree/include
/whtree/geoip
/whtree/lib/.debug
/whtree/lib/*.dylib
/whtree/lib/*.so
/whtree/lib/*.so.*
/whtree/lib/node
/whtree/lib/sqlplus
/whtree/lib/openssl
/whtree/lib/*.la
/whtree/log
/whtree/modules/*/history
/whtree/modules/system/data/shrinkwrap-var.tgz
/whtree/modules/system/data/engines/pdfbox*jar
/whtree/modules/system/whres/buildinfo
/whtree/modules/webhare_testsuite/web/tests/temp/
/whtree/modules/webhare_testsuite/tests/wh/hscore/xml/generated
/whtree/modules/webhare_testsuite/webdesigns/basetest/bower_components
/whtree/modules/webhare_testsuite/webdesigns/basetest/node_modules
/whtree/node_modules/*
/whtree/output
/whtree/tmp
/whtree/var
/whtree/backups
/whtree/whdata

