# https://docs.gitlab.com/ce/ci/yaml/
# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html

# Note:
#    GitLab has dind runners, which will be able to run wh builddocker
#    WebHarebv has shell executors.. which just ignore the images.. which seems to work just as well

image: docker:19.03.1-dind

services:
  - docker:dind

variables:
  GIT_SUBMODULE_STRATEGY: normal

stages:
  - build
  - test
  - deploy

# if apk is present,
default:
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - ( which apk && apk add bash curl git ) || true    # execute on alpine only
  after_script:
    - docker logout $CI_REGISTRY

builddocker:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  stage: build
  except:
    - schedules
  script:
    - whtree/bin/wh builddocker
  interruptible: true

builddocker-scheduled:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  stage: build
  only:
    - schedules
  script:
    - whtree/bin/wh builddocker --no-cache
  interruptible: true

testbaselibs:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external baselibs
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testmodules:
  stage: test
  script:
    - addons/docker-build/testdocker.sh --tag=-external checkmodules
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testversioning:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external publisher-versioning
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testpublisher:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external,-forms publisher
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testpublisher-forms:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=forms publisher
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testsystem:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external,-nodejs system
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testsystem_nodejs:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external,nodejs system
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testwebdesign:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external publisher-webdesign
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testdatabase:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external wh.database
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testtollium:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external tollium
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testconsilio:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external consilio
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testcore:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external --generatexmltests wh.hscore
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testwebserver:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external wh.webserver
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testsocialite:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external socialite
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testwrd:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external wrd
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testjscomponents:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --tag=-external wh.jscomponents
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testexternal:
  stage: test
  except:
    - /^docs\/.*$/
  allow_failure: true
  script:
    - addons/docker-build/testdocker.sh --tag=external
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testsftp:
  stage: test
  except:
    - /^docs\/.*$/
  allow_failure: true
  script:
    - addons/docker-build/testdocker.sh --tag=-external wh.sftp
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testtwohares:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --twohares --testscript $PWD/whtree/modules/webhare_testsuite/scripts/whcommands/twoharetests.sh
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

testbackuprestore:
  stage: test
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --testscript $PWD/whtree/modules/webhare_testsuite/scripts/whcommands/backup-restore-test.sh
  artifacts:
    paths:
      - artifacts/
    when: always
    expire_in: 1 week
  interruptible: true

calculatecoverage:
  stage: test
  when: manual
  except:
    - /^docs\/.*$/
  script:
    - addons/docker-build/testdocker.sh --coverage --generatexmltests
  artifacts:
    paths:
      - artifacts/
      - coverage.tar.gz
    when: always
    expire_in: 1 week
  interruptible: true

deploydocker:
  stage: deploy
  # "If you do not use dependencies, all artifacts from previous stages are passed to each job." - we don't need the deploy stages to download all these artifacts..
  dependencies: []
  except:
    - schedules
    - /^docs\/.*$/
  script:
    - addons/docker-build/deploydocker.sh
  interruptible: true

updatetestscripts:
  stage: deploy
  dependencies: []
  only:
    refs:
      - master
    variables:
      - $WHBUILD_BUILDBOTPASSWORD
  except:
    - schedules
    - /^docs\/.*$/
  script:
    - addons/deploy_testscripts.sh
