[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "whtree/jssdk/whdb/vendor/postgrejs"]
	path = whtree/jssdk/whdb/vendor/postgrejs
	url = https://github.com/panates/postgrejs.git
[submodule "vendor/emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "whtree/modules/platform/js/certbot/vendor/acme"]
	path = whtree/modules/platform/js/certbot/vendor/acme
	url = https://github.com/WebHare/acme.git
	branch = feature/node-import
