html.wh-screenshot
{
  wh-outputtools
  {
    display:none !important;
  }
  .t-screen
  {
    box-shadow:none !important;
  }
  .t-screen:not(.active) > div.modallayer
  , div.wh-shell__root
  , div.wh-backend__topbar
  , div.wh-backend__bottombar
  , body
  {
    background:red !important;
    opacity:1  !important;
    border: none !important;
  }
  div.t-apptabs
  {
    visibility:hidden;
  }

}
