$control-height: 23px;
$control-background-color: #fcfbfb;

$default-border-color: #b3b3b3;
$default-border-radius: 2px;
$focused-border-color: #52aefe;

$required-border-color: #b3b3b3;
$required-background-color: #fcf8d0;
