/****************************************************************************************************************************
 * Tollium Variables
 */
:root
{
  // The size of 1 gr
  --grid-height: 24px;
  // Field borders
  --border-color: #b3b3b3;
  --border-radius: 2px;
}
