html
{
  background-color: #ffffff;

  //Any global font should be defined in shared/rtd/rtd.css
}

//H1 etc font styling should be added to shared/rtd/rtd.css

html.dompack--debug-focus *:focus {
  outline: 2px solid red !important;
  outline-offset: -1px;
}
