.docpanel
{
  display:flex;
  flex-direction:column;
  height:100%;
}
.docpanel__edit, .docpanel__close
{
  background:white;
  border:1px solid red;
  padding:3px;
  margin-bottom:10px;
}

.docpanel:not(.docpanel--canedit) .docpanel__edit
{
  display:none;
}

.docpanel__content //iframe
{
  border:none;
  display:block;
  width:calc(100% - 1px);
  height:100%;
  border-left:1px solid black;
}
