body:has(.wh-wrdauth-form) {
  --form-size: 350px;
  --form-padding: 20px;
  --font-size: 13px;
  --label-font-size: 13px;
  --input-font-size: 15px;
  --heading-font-size: 18px;
  --input-height: 44px; // text inputs
  --input-padding: 12px;
  --input-size: 18px; // checkboxes, radiobuttons

  background: var(--tollium-background-apps);
}

.wh-backend__main:has(.wh-wrdauth-form) {
  display: grid;
  grid-template:
    /* rows (areas + height) */
    ". . . " 1fr
    ". content ." min-content
    ". . ." 2fr
    /* columns */
    / 1fr var(--form-size) 1fr;
}

.wh-wrdauth-form {
  background: var(--tollium-background);
  box-shadow: var(--tollium-screen-box-shadow);
  display: flex;
  flex-direction: column;
  grid-area: content;
  min-height: var(--form-size);
  overflow: auto;
  padding: calc(var(--form-padding) / 2) calc(var(--form-padding) / 2) calc(var(--form-padding) / 2 + 5px);

  .wh-form {
    flex: 1;
  }

  .wh-form__navbuttons--flex {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      max-width: calc(50% - 7px);
    }
  }

  .wh-wrdauth-loginmethodbutton
  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 14px calc(var(--form-padding) / 2) 0;
    padding: 0 12px;
    transition: background-color 0.2s;
    width: calc(100% - var(--form-padding));

    &:hover, &:focus {
      background: var(--tollium-background-shaded);
    }
  }

  .wh-wrdauth-loginmethodicon
  {
    width: 24px;
    height: auto;
    margin-right: 12px;
  }

  .wh-wrdauth-backlinkholder {
    flex: none;
    padding: calc(var(--form-padding) / 2);
    text-align: right;
  }

  a {
    color: #767676;
  }

  .wh-form__fieldgroup {
    padding: calc(var(--form-padding) / 2) calc(var(--form-padding) / 2) 5px;
  }

  p {
    font-size: var(--font-size);
  }

  h2 {
    color: var(--tollium-color-accent);
    font-weight: 500;
    font-size: var(--heading-font-size);

    &:not(:last-child) {
      margin-bottom: calc(var(--form-padding) / 2);
    }
  }

  label {
    display: inline-block;
    font-size: var(--label-font-size);
    font-weight: 600;
    margin-bottom: calc(var(--form-padding) / 2);
  }

  input,
  textarea {
    border-radius: 6px;
    border-width: var(--tollium-border-width);
    font-size: var(--input-font-size);
    height: var(--input-height);
    padding: var(--input-padding);
    width: 100%;
  }

  input[type="checkbox"]:not(.wh-checkbox),
  input[type="radio"]:not(.wh-radiobutton) {
    border-radius: 3px;
    height: var(--input-size);
    margin-right: 8px;
    margin-top: -3px;
    padding: 0;
    vertical-align: middle;
    width: var(--input-size);

    & ~ span {
      line-height: var(--input-size);

      label {
        font-weight: 400;
      }
    }
  }

  .wh-form__fieldgroup[data-wh-form-group-for="backupcodes"] textarea {
    font: var(--tollium-monospace-font);
    height: calc(10 * 16px + 2 * var(--input-padding) + 2 * var(--tollium-border-width)); /* Show 10 codes/lines, add padding and border */
  }

  .wh-form__fieldgroup--error {
    background: #ff46361a;
    border-radius: 8px;
    margin-bottom: calc(var(--form-padding) / 2);
    margin-top: calc(var(--form-padding) / 2);
    padding: calc(var(--form-padding) / 2);

    label {
      color: #d41100;
    }
  }

  .wh-form__error {
    color: #d41100;
    padding-left: 24px;
    padding-top: calc(var(--form-padding) / 2);
    position: relative;

    &:empty {
      display: none;
    }

    &::before {
      content: "\f071";
      font: normal normal normal 14px/1 FontAwesome;
      left: 4px;
      position: absolute;
    }
  }

  .wh-wrdauth-qrcode {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .wh-form__buttongroup {
    padding: calc(var(--form-padding) / 2);
  }

  /* Hide button groups without <a> links (e.g. 'Continue') if none of the navigation buttons are visible */
  .wh-form:not(.wh-form--allowprevious):not(.wh-form--allownext):not(.wh-form--allowsubmit) .wh-form__buttongroup:not(:has(a)) {
    display: none;
  }

  button,
  a.wh-form__button {
    background: var(--tollium-color-accent);
    border: none;
    border-radius: 8px;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-size: var(--label-font-size);
    font-weight: 500;
    height: var(--input-height);
    line-height: var(--input-height);
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .wh-form__button--previous {
    background-color: #fff;
    color: var(--tollium-text-color);
    border: 1px solid var(--tollium-color-accent);
    transition: background-color 0.2s;

    &:hover, &:focus {
      background: var(--tollium-background-shaded);
    }
  }

  .wh-wrdauth-login__forgotpasswordlinkholder {
    padding: calc(var(--form-padding) / 2);
  }

  .wh-wrdauth-loginmethods {
    form {
      padding: calc(var(--form-padding) / 2);
    }

    button {
      background: var(--tollium-background);
      border: var(--tollium-border-width) solid var(--tollium-border-color);
      color: var(--tollium-text-color);
      font-size: var(--input-font-size);
      font-weight: 400;
      text-align: left;
    }
  }
}
