.wh-authormode__aboutdompointer
{
  html:not(.wh-feedback--dompointer) &
  {
    display:none;
  }

  //TODO shouldn't we be sharing our styling with wh-authorbar ?
  all: initial;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background:#fff;
  color:#000;

  &--atbottom
  {
    top: auto;
    bottom: 0;
  }
}
