@import "./deeper/deeper.scss";
@import "./regressions2";

.test1
{
  //can we load assets through ~@mod ... ?
  background:url(~@mod-tollium/webdesigns/webinterface/web/img/favicon/favicon-32x32.png);
}
.test2
{
  margin-left:1px;
}
