@mixin dompack-dialog($modal-background: rgba(0,0,0,.4))
{

  &__modalbg
  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__modalbg:before
  {
    display: inline-block;
    content: '';
    vertical-align: middle;
    line-height: 100%;
    height: 100%;
    width: 0;
  }
  &__holder
  {
    text-align: left;
    display: inline-block;
    white-space: normal;
    font-family: inherit;
    color: inherit;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
}

@mixin dompack-selectlist //We expect the user to give us a fixed height if actually used as a pulldown!
{
  display: inline-block;
  cursor: default;
  vertical-align:middle; // prevent it from being on the baseline

  &--replaced //this is descendent of your style, allowing you to combine pulldown replacements with media queries
  {
    display:none;
  }
  &__area
  {
    height:100%; /* This area */
    overflow:hidden;
  }
  &__control
  {
    height:100%;
    position:relative;
  }
  &__items
  {
    /*min-height:100%;*/
  }
  &__items--open
  {
    position: fixed;
    cursor: default;
    overflow: auto;
  }
  &__item--disabled:first-child //hide the first element if its disabled, usually a '--choose--'
  {
    display:none;
  }
}
