<screens xmlns="http://www.webhare.net/xmlns/tollium/screens"
         xmlns:webapis="http://www.webhare.net/xmlns/system/webapis"
         gid="tolliumapps.auth.settings"
         library="settings.whlib">

  <screen name="wrdauthsettings" footerbuttons="ok cancel">
    <body>
      <heading tid=".expiry" />
      <line>
        <textedit name="expire_login" maxlength="12" required="true" valuetype="integer64" />
        <select name="expire_login_unit" type="pulldown" title="" />
      </line>
      <line>
        <textedit name="expire_persistentlogin" maxlength="12" required="true" valuetype="integer64" />
        <select name="expire_persistentlogin_unit" type="pulldown" title="" />
      </line>

      <!-- FIXME broken: enablecomponents="round_longlogins_to round_longlogins_tz round_minduration round_minduration_unit" /> -->
      <heading name="roundlogins"
               checkbox="true"
               enablecomponents="round_minduration round_minduration_unit"
               onchange="onroundloginschange" />
      <time name="round_longlogins_to" required="true" />
      <webapis:timezoneedit name="round_longlogins_tz" />
      <line>
        <textedit name="round_minduration" maxlength="12" valuetype="integer64" />
        <select name="round_minduration_unit" type="pulldown" title="" />
      </line>
    </body>
  </screen>

</screens>
