<screens xmlns="http://www.webhare.net/xmlns/tollium/screens"
         xmlns:system="http://www.webhare.net/xmlns/system/components"
         xmlns:webapis="http://www.webhare.net/xmlns/system/webapis"
         gid="tolliumapps.auth.settings"
         library="settings.whlib">

  <screen name="wrdauthsettings" footerbuttons="ok cancel">
    <body spacers="none">
      <tabs name="maintabs">
        <tab tid=".passwordrestrictions">
          <heading tid=".passwordrestrictions" />
          <system:passwordvalidationchecks name="passwordchecks" />
          <textedit name="password_totp_issuer" placeholder="WebHare" />
        </tab>
        <tab tid=".expiry">
          <heading tid=".expiry" />
          <line>
            <textedit name="expire_login" maxlength="12" required="true" valuetype="integer64" />
            <select name="expire_login_unit" type="pulldown" title="" />
          </line>
          <line>
            <textedit name="expire_persistent_login" maxlength="12" required="true" valuetype="integer64" />
            <select name="expire_persistentlogin_unit" type="pulldown" title="" />
          </line>

          <!-- FIXME broken: enablecomponents="round_long_logins_to round_long_logins_t_z round_min_duration round_min_duration_unit" /> -->
          <heading name="roundlogins"
                   checkbox="true"
                   enablecomponents="round_min_duration round_min_duration_unit"
                   onchange="onroundloginschange" />
          <time name="round_long_logins_to" required="true" />
          <webapis:timezoneedit name="round_long_logins_t_z" />
          <line>
            <textedit name="round_min_duration" maxlength="12" valuetype="integer64" />
            <select name="round_min_duration_unit" type="pulldown" title="" />
          </line>
        </tab>
      </tabs>
    </body>
  </screen>

  <screen name="wrdauthtexts" width="100x" height="30x" allowresize="true" footerbuttons="ok cancel" savestate="size">
    <body>
      <line layout="left">
        <text width="1pr" valuetid=".authtexts-intro" wordwrap="true" />
      </line>
      <line>
        <select name="tag" type="pulldown" onchange="ontextselect" optiongid=".authtexts" />
        <select name="language" type="pulldown" onchange="ontextselect" optiongid="tollium:common.languages">
          <option rowkey="en" />
          <option rowkey="nl" />
        </select>
      </line>
      <tabs name="texts" type="server" width="1pr" height="1pr">
        <!-- Tabs will be loaded dynamically using the 'authtext' tabsextension -->
      </tabs>
    </body>
  </screen>

  <tabsextension name="authtext">
    <newtab spacers="none">
      <richdocument name="text" width="1pr" height="1pr" rtdtype="http://www.webhare.net/xmlns/wrd/authtexttype" />
      <text valuetid=".defaults" />
      <panel borders="all" layout="left" spacers="all">
        <heading name="defaultheading" width="1pr" title="" wordwrap="true" />
        <text name="defaulttext" width="1pr" title="" wordwrap="true" />
      </panel>
    </newtab>
  </tabsextension>

</screens>
