html.mousehandling--selecting
{
  user-select:none;
}
.mousehandling--selectionbase
{
  user-select:text;
}

.mousehandling--moveinprogress iframe //disable iframes from catching mouse events while dragging/moving
{
  pointer-events: none;
}
