/* Global page, HTML5 setup, style reset */
html, body, p, h1, h2, h3, h4, h5, h6, form { padding:0; margin:0; }
img { border:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }

/* Defaults */
html
{
  font: 10pt Arial, Sans-Serif;
  background-color: #ffffff;
  color: #000000;
}

div.progress
{
  width: 80px;
  height: 16px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

div.progress .fill
{
  position: absolute;
  background-color: red;
  height: 100%;
  display: inline-block;
}

div.progress .speed
{
  position: absolute;
  text-align: center;
  width: 100%;
}

#tokens
{
  white-space: pre;
  margin-left: 10px;
}

#files
{
  white-space: pre;
  margin-left: 10px;
}


