/* Tollium theme settings (keep in sync with ../src/styling.ts!) */

/* 'default' theme */
:root {
  /* Colors */
  /** The accent color, used by headings */
  --tollium-color-accent: #0061cb;

  /* Backgrounds */
  /** The background color */
  --tollium-background: #ffffff;
  /** A slightly shaded background color */
  --tollium-background-shaded: #f8f8f8;
  /** The section toggle (summary) background color */
  --tollium-background-details-summary: #f0f0f0;
  /** The footer background color */
  --tollium-background-footer: #e5e5e5;
  /** The background color of selected items when focused */
  --tollium-background-selected: hsl(from #2977cd h calc(s * 1.5) calc(l * 1.7));
  /** The background color of selected items when blurred */
  --tollium-background-blurred: #e1e1e1;
  /** The background color behind applications */
  --tollium-background-apps: #3b3b3b;
  /** The background color behind the application bar */
  --tollium-background-appbar: rgb(255 255 255 / 0.0035);
  /** Info background color */
  --tollium-background-info: #e4eeea;
  /** Warning background color */
  --tollium-background-warning: #fefedd;
  /** Error background color */
  --tollium-background-error: #f3d3d3;/*ffe5e5*/

  /* Borders */
  /** The border color */
  --tollium-border-color: #b3b3b3;
  /** The border color of focused components */
  --tollium-border-color-focus: hsl(from var(--tollium-color-accent) h calc(s * 1.5) calc(l * 1.5));
  /** The border color of disabled components */
  --tollium-border-color-disabled: #c9c9c9;
  /** The default border width */
  --tollium-border-width: 1px;
  /** The color of icon lines */
  --tollium-line-color: #4a4a4a;
  /** The box shadow around windows */
  --tollium-screen-box-shadow: 0 4px 6px #0000004c;

  /* Text */
  /** The text color */
  --tollium-text-color: #333333;
  /** The text color of disabled components */
  --tollium-text-color-disabled: #c9c9c9;
  /** The font family */
  --tollium-font-family: Roboto, Helvetica, Arial, sans-serif;
  /** The default font size */
  --tollium-font-size: 12px;
  /** The default font definition */
  --tollium-font: var(--tollium-font-size) var(--tollium-font-family);
  /** The font definition for headings */
  --tollium-heading-font: 500 13px/120% var(--tollium-font-family);
  /** The font definition for headings */
  --tollium-section-summary-font: 700 15px/120% var(--tollium-font-family);
  /** The heading text color */
  --tollium-heading-color: var(--tollium-color-accent);
  /** The application bar text color (server name) */
  --tollium-appbar-color: #c8c8c8;
  /** The application bar tab text color */
  --tollium-appbar-tab-color: #ebebeb;
  /** Monospace font (e.g. codeedit) */
  --tollium-monospace-font: 9pt/16px "Menlo", "Consolas", "DejaVu Sans Mono", "Courier New", "monospace";

  /* Inputs */
  /** The background of input components */
  --tollium-input-background: #fbfbfb;
  /** The background of required input components */
  --tollium-input-background-required: #fcf8d0;
  /** The component border radius */
  --tollium-border-radius: 2px;

  /* Layout */
  /** The default padding between elements in the interface */
  --tollium-padding: 10px;
}

/* Apply some default Tollium styling */
:where(html) {
  background-color: var(--tollium-background);
  color: var(--tollium-text-color);
  font: var(--tollium-font);
  -webkit-font-smoothing: antialiased; /* Safari macOS, Firefox macOS 128+ */
}

:where(body)
{
  -webkit-text-size-adjust: none; /* Safari iOS 5+ */
  -moz-text-size-adjust: none; /* Firefox Android 137+ */
  text-size-adjust: none;
}

:where(*) {
  border: 0px solid var(--tollium-border-color);
}
