@use "~@mod-publisher/js/forms/fields/datetime.scss" as datetime;

// Array field styling

.wh-form__arrayadd
{
  background:black;
  color:white;
  padding:3px;
  font-size:70%;

  &:before
  {
    content: "+";
  }

  .wh-form__fieldgroup--array.wh-form__array--maxrows &
  {
    display: none;
  }
}

.wh-form__arraydelete
{
  background:black;
  color:white;
  padding:3px;
  font-size:70%;

  &:before
  {
    content: "X";
  }
}

// Date and time styling
.datetime
{
  @include datetime.wh-datetime;

  &__togglepicker:before
  {
    content:"Ë…";
  }
  &__reset:before
  {
    content:"x";
  }
}
