@import "~@mod-publisher/js/forms/styles";
@import "~@mod-tollium/web/ui/css/settings.scss";

/* checkbox and radio shared */
.wh-checkbox
{
  @include wh-form-hidenativecontrol;
}

/* checkbox */
.wh-checkbox-wrapper
{
  width: 16px;
  height: 16px;
}
.wh-checkbox + .wh-checkbox-label
{
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 2px;
  border: 1px solid #b3b3b3;
  background-color: #fbfbfb;
  cursor: pointer;
  outline: none;
}
.wh-checkbox + .wh-checkbox-label:before
{
  position: absolute;
  left: 3px;
  top: 3px;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 2px;
}

.wh-checkbox:focus + .wh-checkbox-label
{
  border-color: $focused-border-color;
}
.wh-checkbox:checked + .wh-checkbox-label:before
{
  background-color: #308fe2;
}
.wh-checkbox:indeterminate + .wh-checkbox-label:before
{
  background-color: #308fe2;
  height:2px;
  top:6px;
}
.wh-checkbox:required + .wh-checkbox-label
{
  border-color: #fcf7c9;
}
.wh-checkbox:disabled + .wh-checkbox-label
{
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  opacity: 0.5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAInT55sIJXDwMAAAIZhC22Wkht8AAAAAElFTkSuQmCC');
  background-repeat: repeat;
  cursor: default;
}

/* Non-replaced checkboxes in checkboxlists */
input[type="checkbox"]:not(.wh-checkbox)
{
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #b3b3b3;
  background-color: #fbfbfb;
  cursor: pointer;
  outline: none;
  margin: 3px 0 0;

  &:focus
  {
    border-color: $focused-border-color;
  }

  &:checked::before
  {
    background-color: #308fe2;
    position: absolute;
    left: 2px;
    top: 2px;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 2px;

    @media screen and (-webkit-min-resolution: 2dppx)
    {
      left: 2.5px;
      top: 2.5px;
      height: 7px;
      width: 7px;
    }
    @media screen and (min-resolution: 2dppx)
    {
      left: 2.5px;
      top: 2.5px;
      height: 7px;
      width: 7px;
    }
  }

  &:disabled
  {
    background-color: #e6e6e6;
    border-color: #b3b3b3;
    opacity: 0.5;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAInT55sIJXDwMAAAIZhC22Wkht8AAAAAElFTkSuQmCC');
    background-repeat: repeat;
    cursor: default;
  }
}
