<screens xmlns="http://www.webhare.net/xmlns/tollium/screens"
         lib="screens/config.whlib"
         xmlns:publisher="http://www.webhare.net/xmlns/publisher/components"
         xmlns:todd="http://www.webhare.net/xmlns/tollium/todd/components"
         gid="config"
         >

  <messageboxes gid=".messageboxes">
    <messagebox name="confirmenabletweak" buttons="yes no" icon="warning" />
  </messageboxes>

  <screen name="prefs" gid=".prefs">
    <body layout="form">
      <select name="opts" type="checkbox">
        <option rowkey="propsafterupload" />
        <option rowkey="nouploadrename" />
        <option rowkey="groupfolders" />
        <option rowkey="showforeignfolders" />
        <option rowkey="showmenubar" />
      </select>
      <select name="autotitles" type="radio" rowkeytype="boolean">
        <option rowkey="false" />
        <option rowkey="true" />
      </select>
      <box name="tweaks" hr="false" layout="left">
        <checkbox name="showwebharebackend" labeltid=".showwebharebackend" title="" />
        <checkbox name="showwhfsprivate" labeltid=".showwhfsprivate" title="" />
      </box>
    </body>
    <footer>
      <defaultformbuttons buttons="ok cancel" />
    </footer>
  </screen>

</screens>
