<screens xmlns="http://www.webhare.net/xmlns/tollium/screens" gid="config" library="/lib/screens/config.whlib">

  <screen name="main" allowresize="true" gid=".main" icon="tollium:applications/socialite" menubar="menubar">
    <actions>
      <action name="addaccount" onexecute="doaddaccount" />
      <action name="addapplication" onexecute="doaddapplication">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" />
      </action>
      <action name="edit">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" onexecute="doeditaccount" />
        <enableon source="apps" min="1" max="1" checkflags="isapp" onexecute="doeditapplication" />
      </action>
      <action name="delete">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" onexecute="dodeleteaccount" />
        <enableon source="apps" min="1" max="1" checkflags="isapp" onexecute="dodeleteapplication" />
      </action>
      <action name="exit" onexecute="doexit" tid="~exit" />
    </actions>

    <menus>
      <menu name="menubar">
        <item action="exit" />
      </menu>
      <menu name="apps_context_menu">
        <item action="edit" disablemode="hidden" />
        <item action="addapplication" disablemode="hidden" />
        <item action="delete" disablemode="hidden" />
      </menu>
      <menu name="apps_new_menu">
        <item action="addaccount" disablemode="hidden" />
      </menu>
    </menus>

    <toolbar>
      <button action="addaccount" icon="tollium:actions/add" />
      <button action="addapplication" icon="tollium:actions/add" />
      <button action="edit" icon="tollium:actions/edit" />
      <button action="delete" icon="tollium:actions/delete" />
    </toolbar>

    <body spacers="none">
      <list name="apps"
            height="1pr"
            borders="left top bottom"
            columnheaders="false"
            flags="isaccount isapp"
            newcontextmenu="apps_new_menu"
            openaction="edit"
            savestate="expanded"
            selectcontextmenu="apps_context_menu"
            selectmode="single">
        <column name="title" type="text" tree="true" />
      </list>
    </body>
  </screen>

  <screen name="account" footerbuttons="ok cancel" gid=".account" tid=".windowtitle">
    <body>
      <panel height="1pr">
        <textedit name="title" width="1pr" required="true" />
        <textedit name="tag" width="1pr" required="true" />
      </panel>
    </body>
  </screen>

  <screen name="application"
          width="75x"
          allowresize="true"
          footerbuttons="ok cancel"
          gid=".application"
          savestate="size"
          tid=".windowtitle">
    <body>
      <heading tid=".appsettingsbox" />
      <select name="applicationtype" type="pulldown" onchange="changetype" />
      <textedit name="title" width="1pr" required="true" />
      <textedit name="tag" width="1pr" required="true" />
      <textedit name="authenticationcallbackhost" width="1pr" required="false" validationchecks="http-url" />
      <textedit name="emulationurl" width="1pr" required="false" validationchecks="http-url" visible="false" />
      <textedit name="developerkey" width="1pr" required="false" visible="false" />
      <textedit name="publickey" width="1pr" />
      <textedit name="privatekey" width="1pr" />
      <textedit name="jsredirecturl" width="1pr" required="false" validationchecks="http-url" />
      <checkbox name="logrpc" labeltid=".logrpc" title="" />
      <heading tid=".remarksbox" />
      <line layout="left">
        <textarea name="remarks" width="1pr" height="1pr" minheight="13x" errorlabeltid=".remarksbox" title="" />
      </line>
    </body>
  </screen>

</screens>
