<screens xmlns="http://www.webhare.net/xmlns/tollium/screens" gid="config" library="/lib/screens/config.whlib">

  <messageboxes gid=".messages">
    <messagebox name="delete_confirmation" buttons="yes no" />
    <messagebox name="verifyneeded" icon="warning" buttons="ok" />
    <messagebox name="suredeauthorizesession" icon="question" buttons="yes no" />
  </messageboxes>

  <screen name="main" allowresize="true" gid=".main" icon="tollium:applications/socialite" menubar="menubar">
    <actions>
      <action name="importaccount" onexecute="doimportaccount" />
      <action name="exportaccount" onexecute="doexportaccount">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" />
      </action>
      <action name="addaccount" onexecute="doaddaccount" />
      <action name="addapplication" onexecute="doaddapplication">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" />
      </action>
      <action name="edit">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" onexecute="doeditaccount" />
        <enableon source="apps" min="1" max="1" checkflags="isapp" onexecute="doeditapplication" />
        <enableon source="persistent_list" min="1" max="1" onexecute="doeditpersistent" />
      </action>
      <action name="delete">
        <enableon source="apps" min="1" max="1" checkflags="isaccount" onexecute="dodeleteaccount" />
        <enableon source="apps" min="1" max="1" checkflags="isapp" onexecute="dodeleteapplication" />
        <enableon source="persistent_list" min="1" onexecute="dodeletepersistent" />
      </action>
      <action name="addpersistent" onexecute="doaddpersistent">
        <enableon source="apps" min="1" max="1" checkflags="isapp" />
        <enableon source="persistent_list" />
      </action>
      <action name="editpersistent">
        <enableon source="persistent_list" min="1" max="1" onexecute="doeditpersistent" />
      </action>
      <action name="deletepersistent">
        <enableon source="persistent_list" min="1" onexecute="dodeletepersistent" />
      </action>
      <action name="authorize">
        <enableon source="session_list" min="1" onexecute="doauthorizesession" />
        <enableon source="persistent_list" min="1" onexecute="doauthorizepersistentsession" />
      </action>
      <action name="deauthorize">
        <enableon source="persistent_list" min="1" onexecute="dodeauthorizepersistentsession" />
      </action>
      <action name="viewsession">
        <enableon source="session_list" min="1" onexecute="doviewtemporarysession" />
        <enableon source="persistent_list" min="1" onexecute="doviewpersistentsession" />
      </action>
      <action name="viewfeeds">
        <enableon source="persistent_list" min="1" max="1" onexecute="doviewfeeds" />
      </action>
      <action name="importsecuretoken">
        <enableon source="apps" min="1" max="1" checkflags="isapp" onexecute="doimportsecuretoken" />
      </action>
      <action name="setsecuretoken">
        <enableon source="persistent_list" min="1" max="1" onexecute="dosetsecuretoken" />
      </action>
      <action name="exit" onexecute="doexit" tid="~exit" />
      <action name="viewanonymousfeeds" onexecute="doviewanonymousfeeds" />
    </actions>

    <menus>
      <menu name="menubar">
        <item tid=".app">
          <item action="importaccount" />
          <item action="exportaccount" />
          <item action="viewanonymousfeeds" />
          <item action="exit" />
        </item>
        <item name="documentation" />
      </menu>
      <menu name="apps_context_menu">
        <item action="edit" disablemode="hidden" />
        <item action="addapplication" disablemode="hidden" />
        <item action="delete" disablemode="hidden" />
        <divider />
        <item action="importsecuretoken" disablemode="hidden" />
      </menu>
      <menu name="apps_new_menu">
        <item action="addaccount" disablemode="hidden" />
      </menu>
      <menu name="persistent_context_menu">
        <item action="editpersistent" />
        <item action="deletepersistent" />
        <divider />
        <item action="authorize" />
        <item action="setsecuretoken" />
        <item action="deauthorize" />
        <item action="viewsession" />
        <item action="viewfeeds" />
      </menu>
      <menu name="persistent_new_menu">
        <item action="addpersistent" />
      </menu>
    </menus>

    <toolbar>
      <button action="addaccount" icon="tollium:actions/add" />
      <button action="addapplication" icon="tollium:actions/add" />
      <button action="edit" icon="tollium:actions/edit" />
      <button action="delete" icon="tollium:actions/delete" />
    </toolbar>

    <body spacers="none">
      <split type="horizontal">
        <part width="1pr">
          <list name="apps"
                height="1pr"
                borders="left top bottom"
                columnheaders="false"
                flags="isaccount isapp"
                newcontextmenu="apps_new_menu"
                onselect="selectapplication"
                openaction="edit"
                savestate="expanded"
                selectcontextmenu="apps_context_menu"
                selectmode="single">
            <column name="title" type="text" tree="true" />
          </list>
        </part>
        <part width="4pr">
          <tabs name="sessiontabs" height="1pr">
            <tab name="persistent">
              <panel height="1pr">
                <list name="persistent_list"
                      height="1pr"
                      newcontextmenu="persistent_new_menu"
                      openaction="editpersistent"
                      selectcontextmenu="persistent_context_menu"
                      selectmode="single">
                  <column name="authorized" type="icon" />
                  <column name="authorizedat" type="datetime" width="18x" precision="seconds" storeutc="true" />
                  <column name="title" type="text" />
                  <column name="tag" type="text" />
                </list>
              </panel>
            </tab>
            <tab name="sessions">
              <panel height="1pr">
                <list name="session_list" height="1pr" icons="tollium:actions/accept" selectmode="single">
                  <column name="authorized" type="icon" />
                  <column name="authorizedat" type="datetime" width="18x" precision="seconds" storeutc="true" />
                  <column name="title" type="text" />
                  <column name="tag" type="text" />
                </list>
              </panel>
            </tab>
          </tabs>
        </part>
      </split>
    </body>
  </screen>

  <screen name="account" footerbuttons="ok cancel" gid=".account" tid=".windowtitle">
    <body>
      <panel height="1pr">
        <textedit name="title" width="1pr" required="true" />
        <textedit name="tag" width="1pr" required="true" />
      </panel>
    </body>
  </screen>

  <screen name="application"
          width="75x"
          allowresize="true"
          footerbuttons="ok cancel"
          gid=".application"
          savestate="size"
          tid=".windowtitle">
    <body>
      <heading tid=".appsettingsbox" />
      <select name="applicationtype" type="pulldown" onchange="changetype" />
      <textedit name="title" width="1pr" required="true" />
      <textedit name="tag" width="1pr" required="true" />
      <textedit name="authenticationcallbackhost" width="1pr" required="false" validationchecks="http-url" />
      <textedit name="emulationurl" width="1pr" required="false" validationchecks="http-url" visible="false" />
      <textedit name="developerkey" width="1pr" required="false" visible="false" />
      <textedit name="publickey" width="1pr" />
      <textedit name="privatekey" width="1pr" />
      <textedit name="jsredirecturl" width="1pr" required="false" validationchecks="http-url" />
      <checkbox name="logrpc" labeltid=".logrpc" title="" />
      <heading tid=".remarksbox" />
      <line layout="left">
        <textarea name="remarks" width="1pr" height="1pr" minheight="13x" errorlabeltid=".remarksbox" title="" />
      </line>
    </body>
  </screen>

  <screen name="persistent"
          width="55x"
          height="35x"
          allowresize="true"
          footerbuttons="ok cancel"
          gid=".persistent"
          tid=".windowtitle">
    <body>
      <panel height="1pr">
        <textedit name="title" width="1pr" required="true" />
        <textedit name="tag" width="1pr" required="true" />
        <textarea name="authorizationremark" width="1pr" />
        <textedit name="securetoken" width="1pr" enabled="false" />
        <checkbox name="expirationwarning" labeltid=".expirationwarning" title="" />
        <heading tid=".requestpermissions" />
        <select name="requestpermissions"
                type="checkboxlist"
                height="1pr"
                minwidth="45x"
                minheight="8x"
                rowkeytype="string"
                title="" />
      </panel>
    </body>
  </screen>

  <screen name="viewsession" width="120x" height="42x" allowresize="true" gid=".viewsession" tid=".title">
    <body>
      <box height="1pr" minheight="25x" tid=".sessionkeys">
        <panel height="1pr">
          <list name="sessionkeys" height="1pr" selectmode="single">
            <column name="tag" type="text" />
            <column name="value" type="text" />
          </list>
        </panel>
      </box>
    </body>
  </screen>

  <screen name="importsecuretoken" footerbuttons="close" gid=".importsecuretoken">
    <actions>
      <action name="import" onexecute="doimport" />
    </actions>

    <body>
      <line>
        <textedit name="inputtoken" required="true" />
        <button action="import" />
      </line>
      <textedit name="outputtoken" enabled="false" />
    </body>
  </screen>

  <screen name="setsecuretoken" footerbuttons="ok cancel" gid=".setsecuretoken">
    <body>
      <textedit name="inputtoken" required="true" />
    </body>
  </screen>

  <screen name="importaccount"
          width="60x"
          height="12x"
          allowresize="true"
          footerbuttons="ok cancel"
          gid=".importaccount"
          savestate="size">
    <body>
      <line layout="left">
        <text valuetid=".pasteaccountinfo" />
      </line>
      <textarea name="data" width="1pr" height="1pr" title="" />
    </body>
  </screen>

  <screen name="exportaccount"
          width="60x"
          height="12x"
          allowresize="true"
          footerbuttons="ok cancel"
          gid=".exportaccount"
          savestate="size">
    <body>
      <line layout="left">
        <text valuetid=".copyaccountinfo" />
      </line>
      <textarea name="data" width="1pr" height="1pr" title="" />
    </body>
  </screen>

</screens>
